<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>ESP32 Bit Pirate Dock CPU adapter</TITLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P>This project template is the base of an adapter used to connect a CPU to the ESP32 Bit Pirate Dock. <BR><BR>
 The adapter is the size of the ESP32S3 devkit<BR><BR>The board outline looks like the following:
</P>
<P><IMG SRC="board.jpg" NAME="brd"
BORDER=0><BR><BR><BR><BR>
</P>
<P>2026 fdufnews<BR>ESP32 Bit Pirate Dock project</P>
</BODY>
</HTML>
